<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PJ Wehry</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/SiteScripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Asar|Indie+Flower" rel="stylesheet">
</head>
<body>
    <div class="mobile-dropdown">
            <button id="mobile-menu" onclick="MobileNav()"></button>
            <ul id="mobile-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                @*<li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>*@
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li id="login">@Html.Partial("_LoginPartial")</li>
            </ul>
    </div>
    <div class="navbar">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
            @*<li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>*@
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li id="login">@Html.Partial("_LoginPartial")</li>
        </ul>
    </div>
    <div>
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - PJ Wehry</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
